@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");

body {
  margin: 0;
  padding: 0;
  background-color: #edf1f5;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn, .form-control {
  border-radius: 2px;
}

label {
  font-weight: 900;
  margin-bottom: 2px;
  font-size: 13px;
}

.table th {
  border-top: none;
  font-weight: normal;
}

.table th.sortable {
  color: #70a6e8;
  cursor: pointer;
}

.table th.sortable .fas {
  margin-left: 8px;
}
